---
// src/components/Header.astro
---
<header class="bg-blue-500 p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
      <img src="/logo.png" alt="Instituto Wallon" class="h-12">
      <nav>
        <ul class="flex space-x-4">
          <li><a href="#" class="hover:underline">Inicio</a></li>
          <li><a href="#" class="hover:underline">Nosotros</a></li>
          <li><a href="#" class="hover:underline">Metodología</a></li>
          <li><a href="#" class="hover:underline">Wallon News</a></li>
        </ul>
      </nav>
    </div>
  </header>
  