

<header class="bg-white flex justify-between items-center py-4 px-8 h-24">
    <img src="https://th.bing.com/th/id/OIP.m5qG6e_qefd9e9wwFjRZPwAAAA?rs=1&pid=ImgDetMain" alt="Logo Instituto Wallon" class="h-20">

    <nav class="flex space-x-4">
      <a href="#" class="text-xl font-semibold flex items-center justify-center px-4 py-2 text-black hover:bg-custom-blue hover:text-white">Inicio</a>
      <a href="#" class="text-xl  font-semibold flex items-center justify-center px-4 py-2 text-black hover:bg-custom-blue hover:text-white">Nosotros</a>
      <a href="#" class="text-xl font-semibold flex items-center justify-center px-4 py-2 text-black hover:bg-custom-blue hover:text-white">Metodología</a>
      <a href="#" class="text-xl font-semibold flex items-center justify-center px-4 py-2 text-black hover:bg-custom-blue hover:text-white">Wallon News</a>
      <a href="#" class="text-xl font-semibold flex items-center justify-center px-4 py-2 text-black hover:bg-custom-blue hover:text-white">Portal Wallon</a>
    </nav>
  </header>
