
<header class="fixed top-0 bg-gradient-to-r from-custom-gd-blue1 to-custom-gd-blue2 flex justify-between items-center py-4 px-8 h-24 w-full z-50 shadow">
    <a href="/">
        <img src="/public/Wallonlogo.svg" alt="Logo Instituto Wallon" class="h-20">
    </a>

    <nav class="flex space-x-4">
      <a href="/" class="text-xl font-semibold flex items-center justify-center px-4 py-2 text-black hover:text-white">Inicio</a>
      <a href="#" class="text-xl  font-semibold flex items-center justify-center px-4 py-2 text-black hover:text-white">Nosotros</a>
      <a href="#misionPrimaria" class="text-xl font-semibold flex items-center justify-center px-4 py-2 text-black hover:text-white">Misión/Visión</a>
      <a href="#anunciosPrimaria" class="text-xl font-semibold flex items-center justify-center px-4 py-2 text-black hover:text-white">Anuncios</a>
      <a href="#" class="text-xl font-semibold flex items-center justify-center px-4 py-2 text-black hover:text-white">Portal Wallon</a>
    </nav>
  </header>