<div class="flex h-176 mt-64 mb-16">
    <div class="w-1/2">
        <img src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/357386390_842131554298841_3606658625126030067_n.jpg?stp=cp6_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEVkg9Nz0lRFIGHflV6wFAfKrVB5ahBTeMqtUHlqEFN41gDSjEl0gU1Xg8MgmQqc0pb2Rz5ok24OFiopC1wbi7R&_nc_ohc=VLWpLqPztVUQ7kNvgG5yztd&_nc_ht=scontent-qro1-1.xx&oh=00_AYDXrhiODyr-xVPRpIPxBVnHaJSER_GLF3v-vt_SM0zkFg&oe=665AB62E" alt="" class="h-72 w-11/12 px-32 mx-auto object-cover brightness-90">
    </div>
    <div class="w-1/2">
        <h2 class="text-custom-black-title font-semibold text-2xl mb-8 mt-8">Enseñanza de alta calidad</h2>
        <p class="text-xl pr-24">Contamos con un equipo de docentes altamente calificados y 
            comprometidos con brindar una educación de calidad a todos los estudiantes.
        </p>
    </div>

</div>