<div class="flex h-32 mt-64">
    <div class="w-1/2 ml-32">
        <h2 class="text-custom-black-title font-semibold text-2xl mb-8 mt-8">Desarrollo Integral</h2>
        <p class="text-xl pr-24">Creemos que el aprendizaje debe ser significativo y relevante para los estudiantes.
            Nos centramos en crear un ambiente de aprendizaje donde los estudiantes sean activos y responsables de su propio aprendizaje.
        </p>
    </div>
    <div class="w-1/2">
        <img src="/bg-footer.svg" alt="" class="h-64 mx-auto">
    </div>
</div>