<div class="flex h-32 mt-64">
    <div class="w-1/2">
        <img src="/bg-footer.svg" alt="" class="h-64 mx-auto">
    </div>
    <div class="w-1/2">
        <h2 class="text-custom-black-title font-semibold text-2xl mb-8 mt-8">Enseñanza de alta calidad</h2>
        <p class="text-xl pr-24">Contamos con un equipo de docentes altamente calificados y 
            comprometidos con brindar una educación de calidad a todos los estudiantes.
        </p>
    </div>

</div>