<div class="flex h-32 mt-64">
    <div class="w-1/2 ml-32">
        <h2 class="text-custom-black-title font-semibold text-2xl mb-8 mt-8">Desarrollo Integral</h2>
        <p class="text-xl ">Creemos que el aprendizaje debe ser significativo y relevante para los estudiantes.
            Nos centramos en crear un ambiente de aprendizaje donde los estudiantes sean activos y responsables de su propio aprendizaje.
        </p>
    </div>
    <div class="w-1/2 mx-auto">
        <img src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/440753171_1042166457628682_8425088391334835660_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGFZK0s1zyMmmU4hJJr5_P6Ce2EGCOSbw0J7YQYI5JvDc7D_ZvPPuJWELESnppJ-GcCFYoi-r50ASZoQOQu0Llu&_nc_ohc=dISwEjcNhs8Q7kNvgF5uB4U&_nc_ht=scontent-qro1-1.xx&oh=00_AYBq_7TtJFVn6bi_m55wnEhHJC9YF3W3nSkm6Xs7MGinng&oe=665ABDAC" alt="" class="h-72 w-11/12 px-24 mx-auto object-cover brightness-90">
    </div>
</div>




