
<div class="flex h-24 mt-32">
    <div class="w-1/2 mx-auto">
        <img src="https://scontent-qro1-1.xx.fbcdn.net/v/t39.30808-6/347421600_839279647917365_29283518188565058_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHQ9AfhPUNa3jt0njb5XL4rj578_s93JkmPnvz-z3cmSeMgZdYmGYclRf15dPE_9uH3Ql2Svp1DBrqdOoWehO8Q&_nc_ohc=lrJPdpOfHOYQ7kNvgECsbDh&_nc_ht=scontent-qro1-1.xx&oh=00_AYB41L9SZoVyTUuQPLc9WqWUkR7PVm34MhGJ8hoLADXL2g&oe=665AACCB" alt="" class="h-64 w-full px-32 mx-auto object-cover">
    </div>
    <div class="w-1/2">
        <h2 class="text-custom-black-title font-semibold text-2xl mb-8 mt-8">Aprendizaje centrado en el estudio</h2>
        <p class="text-xl mr-32">Creemos que el aprendizaje debe ser significativo y relevante para los estudiantes.
            Nos centramos en crear un ambiente de aprendizaje donde los estudiantes sean activos y responsables de su propio aprendizaje.
        </p>
    </div>

</div>