---
// src/pages/index.astro
import Header from '../components/cabeza.astro';
import Announcement from '../components/Announcement.astro';
import Primary from '../components/Primary.astro';
import Mission from '../components/Mission.astro';
import News from '../components/News.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto Wallon</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body class="font-sans">
    <Header />
    <main>
      <Announcement />
      <Primary />
      <Mission />
      <News />
    </main>
  </body>
</html>
