---
// src/components/Primary.astro
---
<section class="bg-gray-100 p-4">
    <div class="container mx-auto">
      <h2 class="text-2xl font-bold mb-4">Primaria</h2>
      <p>
        Texto sobre "¿porqué elegir wallon como kinder para tu hijo?".
        Instruir en el desarrollo de habilidades cognitivas y sociales, formando niños(as) con una Educación Integral, basada en los principales valores de la sociedad.
        Ser distinguida por la responsabilidad y el trabajo proactivo; que contribuirán en la transformación de su mundo.
      </p>
    </div>
  </section>
  