---
---
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 py-8">
    <h2 class="text-3xl font-bold text-center mb-4">Valores Wallon</h2>
    <div class="h-1 bg-green-500 rounded-full mb-4 w-24"></div>
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-2xl h-3xl">
      <div class="grid grid-cols-2 gap-6 text-center">
        <a class="valor hover:bg-red-400 hover:text-white transition duration-300" href="https://www.youtube.com/watch?v=vP4iY1TtS3s" target="_blank">Respeto</a>
        <a class="valor hover:bg-orange-400 hover:text-white transition duration-300" href="https://www.youtube.com/watch?v=Raw80--uerM" target="_blank">Responsabilidad</a>
        <a class="valor hover:bg-yellow-400 hover:text-white transition duration-300" href="https://www.youtube.com/watch?v=eBJzreZVVbU" target="_blank">Armonia</a>
        <div class="valor hover:bg-green-400 hover:text-white transition duration-300">Equidad</div>
        <div class="valor hover:bg-blue-400 hover:text-white transition duration-300">Solidaridad</div>
        <div class="valor hover:bg-indigo-400 hover:text-white transition duration-300">Igualdad</div>
        <div class="valor hover:bg-purple-400 hover:text-white transition duration-300">Honestidad</div>
        <div class="valor hover:bg-pink-400 hover:text-white transition duration-300">Generosidad</div>
      </div>
    </div>
  </div>
  