---
---
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 py-8">
    <h2 class="text-3xl font-bold text-center mb-4">Valores Wallon</h2>
    <div class="h-1 bg-green-500 rounded-full mb-4 w-24"></div>
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-2xl h-3xl">
      <div class="grid grid-cols-2 gap-6 text-center">
        <a class="transition duration-300 hover:bg-red-500 hover:text-white" href="https://www.youtube.com/watch?v=vP4iY1TtS3s" target="_blank">Respeto</a>
        <a class="transition duration-300 hover:bg-orange-500 hover:text-white" href="https://www.youtube.com/watch?v=Raw80--uerM" target="_blank">Responsabilidad</a>
        <a class="transition duration-300 hover:bg-yellow-500 hover:text-white" href="https://www.youtube.com/watch?v=eBJzreZVVbU" target="_blank">Armonia</a>

        <div class="transition duration-300 hover:bg-green-500 hover:text-white ">Equidad</div>
        <div class="transition duration-300 hover:bg-blue-500 hover:text-white ">Solidaridad</div>
        <div class="transition duration-300 hover:bg-indigo-500 hover:text-white ">Igualdad</div>
        <div class="transition duration-300 hover:bg-purple-500 hover:text-white ">Honestidad</div>
        <div class="transition duration-300 hover:bg-pink-500 hover:text-white ">Generosidad</div>
      </div>
    </div>
  </div>
  